﻿@using Trukhan.TicketReSailing.Business.Interfaces
@using Trukhan.TicketReSailing.Business.Models
@using Trukhan.TicketReSailing.Business.Repositories
@using Microsoft.AspNetCore.Mvc.Localization

@model List<User>

@inject IViewLocalizer Localizer
@inject IUserRepository userRepository

@{ 
    ViewData["Title"] = Localizer["List of users"];
}



<div class="body-content-city">
    
 <div><span>@ViewData["Message"]</span></div>

 @if (Model != null)
 {
     @foreach (var user in Model)
     {
        <div>@Localizer["Login:"] @user.UserName</div>
		<div>@Localizer["First Name:"] @user.FirstName</div>
		<div>@Localizer["Last Name:"] @user.LastName</div>
		<div>@Localizer["Localization:"] @user.Localization.Name</div>
		<div>@Localizer["Address:"] @user.Adress</div>
		<div>@Localizer["Phone Number:"] @user.PhoneNumber</div>
		<br>
            @if (User.IsInRole("admin"))
            {
            <div class="buttons-of-editing">
                @if (userRepository.IsInRole(user, "admin"))
				{
					<div class="btn"><a asp-controller="AdminUser" asp-action="RemoveRole" asp-route-userId="@user.Id" asp-route-userRole="admin">@Localizer["RemoveAdminRights"]</a></div>
            	}
				else
				{
					<div class="btn"><a asp-controller="AdminUser" asp-action="AddRole" asp-route-userId="@user.Id" asp-route-userRole="admin">@Localizer["GrantAdminRights"]</a></div>
				}
            </div>
            }
        <div class="reset-float"></div>
     }
 }
 else
 {
    <h3>DataBase is empty!</h3>
 }
</div>