﻿@using Trukhan.TicketReSailing.Business.Models
@using Microsoft.AspNetCore.Mvc.Localization

@model List<Order>

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["MyOrders"];
}

@if (@Model.Count == 0)
{
    <h1>@Localizer["no orders"]</h1>
    <a asp-controller="Home" asp-action="Index">@Localizer["come back"]</a>
}
else
{
<h2>@Localizer["Buyer Name:"] @Localizer[Model[0].Buyer.FirstName]</h2>

    <table style="width:100%">
        <tr>
            <td class="td-width-content td-border">
                <h2>@Localizer["Event"]</h2>
            </td>
            <td class="td-width-content td-border">
                <h2>@Localizer["Date"]</h2>
            </td>
            <td class="td-width-content td-border">
                <h2>@Localizer["Venue"]</h2>
            </td>
            <td class="td-width-content td-border">
                <h2>@Localizer["Status"]</h2>
            </td>
            <td>
                <h2>@Localizer["Trak No"]</h2>
            </td>
        </tr>
     </table>
    @foreach (var m in Model)
    {
    <table>
        <tr>
            <td  class="td-width-content">
                <h3>@Localizer[@m.Ticket.Event.Name]</h3>
            </td>
            <td  class="td-width-content">
                <h3>@Localizer[@m.Ticket.Event.Date.ToString("d")]</h3>
            </td>
            <td  class="td-width-content">
                <h3>@Localizer[@m.Ticket.Event.Venue.City.Name]</h3>
            </td>
            <td class="td-width-content">
                <h3>@Localizer[@m.Status.ToString()]</h3>
            </td>
            <td>
                <h3>@Localizer[@m.TrakNO]</h3>
            </td>
        </tr>
    </table>
    <div>
       @m.MessageReject
    </div>
    }
}
