﻿@using Trukhan.TicketReSailing.Business.Models
@using Microsoft.AspNetCore.Mvc.Localization

@model User

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Information about user"];
}

<div>@Localizer["Login:"] @Model.UserName</div>
<div>@Localizer["First Name:"] @Model.FirstName</div>
<div>@Localizer["Last Name:"] @Model.LastName</div>
<div>@Localizer["Localization:"] @Model.Localization.Name</div>
<div>@Localizer["Adress:"] @Model.Adress</div>
<div>@Localizer["Phone Number:"] @Model.PhoneNumber</div>