﻿body {
	padding: 0px;
    margin: 0px;
    /*background:#c7b39b url(../Pictures/background.jpg) no-repeat fixed center;*/
}

header {
	background: MediumSlateBlue;
	border: Khaki solid 3px;
	border-radius: 0px 0px 10px 10px; 
	opacity:0.9;
}

div{
  font-family: Verdana;
  margin: 0;
  padding: 0;
}

table {
    padding-left:20px;
    padding-right:20px;
    width:100%; 
    border:2px ridge green;
	text-align:left;
	background-color: #CDC9C9;
}

a{
  text-decoration: none;
}

.div-border{
  border: 1px solid red;
}

.div-float-none{
  clear: both;
}

.group-links{
	float:right; 
	text-align:right; 
	padding-top: 4px;
}

.group-button{
	float:right; 
	text-align:right; 
}

.like-button{
	border-left: red solid 1px;
	border-right: red solid 1px;
	text-decoration:none;
    font-size:20px;
    text-decoration-color:white;
}

.div-select-language {
    text-align:right;
}

.border {
	border: red solid 1px;
}

.div-home-return {
	float: left;
}

.reset-float{
	clear: both;
}

.img-home {
	width: 30px;
	height: 30px; 
	padding: 0px;
	margin: 0px;
	border-radius: 50%;
}

.p-name-page {
    text-align:center; 
    font-family:Arial; 
    font-style:italic;
    font-size:36px;
    margin:2px 0px;
}

.user-name{
	float:left;
	color:white;
	padding: 2px 5px;
}

.role-name{
	float:left;
	color:pink;
	padding: 2px 5px;
}

.td-border {   
    border-style: solid;
    border-width: 1px;
    border-color: darkblue;
}

.body-content{
	border-radius: 10px 10px 0px 0px ; 
	border: DarkSlateGray 3px solid;
}

.body-content-city {
    border-radius: 10px 10px 0px 0px ; 
	border: DarkSlateGray 3px solid;
    background-color:darkgrey;
    opacity: 0.9;
}

.button-logout{
	float: left;
}

.event{
	margin:0 auto;
	width: 90%;
    padding-left:20px;
    padding-right:20px;
    border:2px ridge green;
	text-align:left;
	background-color: #CDC9C9;
}

.info-event{
  display: none;
  height: 210px;
  background: #FFE4C4;
  border: 2px solid #FF00FF; 
}

.date-name-ticket{
    font-size: 20px;
	font-family: Arial bold;
    color: #228B22;
    margin-top: 20px;
}

.name-ticket{
  display: inline-block; 
  font-size: 25px;
  color: blue;
  margin:0;
  margin-top:20px;
  padding:0;
  width: 350px;
  transition: width 0.3s linear;
}

.name-ticket:hover{
  color:#F5F5DC;
  background: #FF00FF;  
  width: 50%; 
}

.date-name-ticket:hover + .info-event, 
.info-event:hover{
  display: block;
}

.img-content-size {
    width: 200px;
    height: 200px;
    float:left;
}

.attr-event {
  float:left;
  width: 80%;
}

.content{
  position: relative;
  height: 50px;
}

.left-content {
  width: 35%;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0,-50%);
  border-right: 1px solid grey;
}

.right-content {
  margin-left: 5px;
  position: absolute;
  height: 20px;
  left: 35%;
  top: 50%;
  transform: translate(0,-50%);
}

/*Log in Register*/

.login-string{
  text-align: center;
  border: 1px solid green;
}

.register-string{
  font: 18px bold; 
}

.block-content, .block-content form{
  width: 60%;
  margin: 0 auto;
  background: #D3D3D3;
}

.block-content div{
  margin: 10px 0; 
}

/*Log in Register*/

.btn {
	text-decoration:none;
    font: Arial 20px bold;
    color: white;
    margin: 4px 0;
    width: 100px;
    background-color: #3fa46a;    
    border: none;  
    display: inline-block;
}

.div-btn:after{
  content:']';
  font-size: 18px;
  position: relative;
  opacity:0;
  left: -10px;  
  color:#FF00FF;
  transition: left, opacity 0.3s linear;  
}

.div-btn:before{
  content:'[';
  font-size: 18px;
  position: relative;
  opacity:0;
  right: -10px;  
  color:#FF00FF;
  transition: right, opacity 0.5s linear;
}

.div-btn:hover:after, .div-btn:hover:before{
  opacity:1;
}

.div-btn:hover:after{
  left: 0; 
}

.div-btn:hover:before{
  right: 0;
}

.btn:hover{
  background: #ADD8E6;
  color: green;    
}

.btn-delete {
    color: white;
    background-color:red;
}

.btn-delete:hover {
        color: orangered;
        background-color:firebrick;
}

.btn-create {
    float: right;
    margin: 10px 15px;
}

.div-over-table {
    padding-left:20px;
    padding-right:20px;
}


.prm-entity{
    float:left;
    width: 350px;
    height:15px;
    font-family:Arial; 
    margin: 10px;
}

.venue-in-view-events{
	float:left;
    font-style:Italic; 
    margin:10px;
}

.div-middle {
	border-left: 1px solid grey;
	border-right: 1px solid grey; 
	opacity: 0.6;
}

.list-out {
    width: 50%;
    margin: 0 auto;
}

.form-reject{
    float:right;
}

.btn-reject{
}

.message-reject{
}

input,
select,
textarea {
    max-width: 280px;
}


