﻿@using Trukhan.TicketReSailing.Business.Interfaces
@using Trukhan.TicketReSailing.Business.Models
@using Microsoft.AspNetCore.Mvc.Localization

@model IEventRepository

@inject IViewLocalizer Localizer

@{ 
   ViewData["Title"] = Localizer["Events"];
}

<div>
    @foreach (Event m in Model.GetAll())
    {
     <div class="event">
	  <form method="get" asp-controller="Ticket" asp-action="ListTickets" asp-route-returnUrl="@Context.Request.Path">		
        <div class="date-name-ticket">
            @Localizer[@m.Date.ToString("d")]
        </div>
        <a class="date-name-ticket" asp-controller="Ticket" asp-action="ListTickets" asp-route-eventId="@m.Id"> 
          <div class="name-ticket">@Localizer[@m.Name]</div>
        </a>
        <div class="info-event">
          <div class="img-content-size">
            <input type="hidden" name="eventId" value="@m.Id" />
            <input type="image" src="~/Pictures/@m.Banner" height="200" width="200"/>
          </div>
          <div class="attr-event">
            <div class="content">
              <div class="left-content">
                  <span class="p-table">@Localizer["City:"]</span>
              </div>
              <div class="right-content">
                  <span class="p-table">@Localizer[@m.Venue.City.Name]</span>
              </div>
            </div>
            <div class="content">
              <div class="left-content">
                  <span class="p-table">@Localizer["Venue:"]</span>
              </div>
              <div class="right-content">
                <span class="p-table">@Localizer[@m.Venue.Name]</span>
              </div>
            </div>
            <div class="content">
              <div class="left-content">
                <span class="p-table">@Localizer["Adress:"]</span>
              </div>
              <div class="right-content">
                  <span class="p-table">@Localizer[@m.Venue.Address]</span>
              </div>
            </div>
            <div class="content">
              <div class="left-content">
                  <span class="p-table">@Localizer["Description:"]</span>
              </div>
              <div class="right-content">
                  <span class="p-table">@Localizer[@m.Description]</span>
              </div>
            </div>
          </div>  
        </div>
      </form>
 </div>
 <div class="div-float-none"></div>
 <br>    
}
</div>
