﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Trukhan.TicketReSailing.Presentation.ViewModels.NewCityViewModel


@inject IViewLocalizer Localizer

<h2>@Localizer["Adding a new city"]</h2>
<form method="post" asp-controller="Admin" asp-action="CreateCity" asp-route-idEntity ="1">
    <div asp-validation-summary="ModelOnly"></div>
	  <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
	  </div>
    <div>
        <input type="submit" value=@Localizer["Create"] />
    </div>
</form>
