﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Trukhan.TicketReSailing.Business.Models

@model Trukhan.TicketReSailing.Business.Models.Event

@inject IViewLocalizer Localizer

<h2>@Localizer["Update event"]</h2>
<form method="post" asp-controller="Admin" asp-action="UpdateEvent" asp-route-idEntity ="3">
    <div asp-validation-summary="ModelOnly"></div>
	  <div>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <label asp-for="Name">@Localizer["Event Name"]</label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
	  </div>
	  <div>
        <label asp-for="Date">@Localizer["Date"]</label><br />
        <input asp-for="Date"/>
        <span asp-validation-for="Date"></span>
	  </div>
	  <div>
        <label asp-for="Banner">@Localizer["Name file of banner"]</label><br />
        <input asp-for="Banner" />
        <span asp-validation-for="Banner"></span>
	  </div>
	  <div>
        <label asp-for="Description">@Localizer["Description"]</label><br />
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
	  </div>
	  <div>
        <label asp-for="Venue">@Localizer["Venue"]</label><br />
			<select name="venueId">
				<option selected="selected" value=@Model.Venue.Id>@Localizer[@Model.Venue.Name]</option>
				@foreach (var v in (List<Venue>)ViewBag.Venues)
				{
					<option value=@v.Id >@Localizer[@v.Name]</option>	
				}
			</select>
	  </div>
    <div>
        <input type="submit" value=@Localizer["Update"] />
    </div>
</form>
