﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Trukhan.TicketReSailing.Business.Models
@model Trukhan.TicketReSailing.Business.Models.Venue

@inject IViewLocalizer Localizer

<h2>@Localizer["Update venue"]</h2>
<form method="post" asp-controller="Admin" asp-action="UpdateVenue" asp-route-id ="@Model.Id">
    <div asp-validation-summary="ModelOnly"></div>
	  <div>
        <label asp-for="Name">@Localizer["Venue Name"]</label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
	  </div>

	  <div>
        <label asp-for="Address">@Localizer["Address"]</label><br />
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
	  </div>
	  <div>
        <label asp-for="City">@Localizer["City"]</label><br />
			<select name="cityId">
				<option selected="selected" value="@Model.City.Id">@Localizer[@Model.City.Name]</option>
				@foreach (var c in (List<City>)ViewBag.Cities)
				{
					<option value="@c.Id">@c.Name</option>	
				}
			</select>
	  </div>
    <div>
        <input type="submit" value=@Localizer["Update"] />
    </div>
</form>
