﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Trukhan.TicketReSailing.Business.Models.City

@inject IViewLocalizer Localizer

<h2>@Localizer["Update city"]</h2>
<form method="post" asp-controller="Admin" asp-action="UpdateCity" asp-route-id ="@Model.Id" >
    <div asp-validation-summary="ModelOnly"></div>
	  <div>
        <label asp-for="Name">@Localizer["City Name"]</label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
	  </div>
    <div>
        <input type="submit" value=@Localizer["Update"] />
    </div>
</form>
