﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Trukhan.TicketReSailing.Business.Models
@model Trukhan.TicketReSailing.Presentation.ViewModels.NewVenueViewModel
@inject IViewLocalizer Localizer

<h2>@Localizer["Adding a new venue"]</h2>
<form method="post" asp-controller="Admin" asp-action="CreateVenue" asp-route-idEntity ="2">
    <div asp-validation-summary="ModelOnly"></div>
	  <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
	  </div>
	  <div>
        <label asp-for="Address"></label><br />
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
	  </div>
	  <div>
        <label asp-for="City"></label><br />
			<select name="cityId">
				<option selected="selected" disabled="disabled">@Localizer["Select a city"]</option>
                @foreach (var c in (List<City>)ViewBag.Cities)
                {
                    <option value="@c.Id">@c.Name</option>
                }
			</select>
	  </div>
    <div>
        <input type="submit" value=@Localizer["Create"] />
    </div>
</form>
