﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Trukhan.TicketReSailing.Business.Models
@model Trukhan.TicketReSailing.Presentation.ViewModels.NewEventViewModel
@inject IViewLocalizer Localizer

<h2>@Localizer["Adding a new event"]</h2>
<form method="post" asp-controller="Admin" asp-action="CreateEvent" asp-route-idEntity ="3">
    <div asp-validation-summary="ModelOnly"></div>
	  <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
	  </div>
	  <div>
        <label asp-for="Date"></label><br />
        <input asp-for="Date" />
        <span asp-validation-for="Date"></span>
	  </div>
	  <div>
        <label asp-for="Venue"></label><br />
			<select name="venueId">
				<option selected="selected" disabled="disabled">@Localizer["Select a venue"]</option>
                @foreach (var v in (List<Venue>)ViewBag.Venues)
                {
                    <option value="@v.Id">@v.Name</option>
                }
			</select>
	  </div>
	  <div>
        <label asp-for="Banner"></label><br />
        <input asp-for="Banner"/>
        <span asp-validation-for="Banner"></span>
	  </div>
	  <div>
        <label asp-for="Description"></label><br />
        <input type="text" size="100" asp-for="Description"/>
        <span asp-validation-for="Description"></span>
	  </div>
    <div>
        <input type="submit" value=@Localizer["Create"] />
    </div>
</form>
