﻿@model Trukhan.TicketReSailing.Presentation.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{ 
    Layout = null;
}
<div class="register-string">
  <a asp-action="Register" asp-controller="Account">@Localizer["Register"]</a>
</div>

<div class="block-content">
  <h2 class="login-string">@Localizer["Login"]</h2>
  <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
      <div asp-validation-summary="ModelOnly"></div>
      <div>
          <label asp-for="Name">@Localizer["Enter Name"]</label><br />
          <input asp-for="Name" />
          <span asp-validation-for="Name"></span>
      </div>
      <div>
          <label asp-for="Password">@Localizer["Enter Password"]</label><br />
          <input asp-for="Password" />
          <span asp-validation-for="Password"></span>
      </div>
      <div>
          <label asp-for="RememberMe">@Localizer["Remember?"]</label><br />
          <input asp-for="RememberMe" />
      </div>
      <div class="div-btn">        
          <input class="btn" type="submit" value="Log in" />
      </div>
  </form>
</div>
