﻿@model Trukhan.TicketReSailing.Presentation.ViewModels.RegisterViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="block-content">
  <h2 class="login-string">@Localizer["New User Registration"]</h2>
  <form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
      <label asp-for="Login"></label><br />
      <input asp-for="Login" />
      <span asp-validation-for="Login"></span>
    </div>
    <div>
      <label asp-for="FirstName"></label><br />
      <input asp-for="FirstName" />
      <span asp-validation-for="FirstName"></span>
    </div>
    <div>
      <label asp-for="LastName"></label><br />
      <input asp-for="LastName" />
      <span asp-validation-for="LastName"></span>
    </div>
    <div>
      <label asp-for="Language"></label><br />
      <select asp-for="Language" asp-items="ViewBag.Languages">
        <option selected="selected" disabled="disabled">@Localizer["Choose language"]</option>
      </select>
    </div>
    <div>
      <label asp-for="Adress"></label><br />
      <input asp-for="Adress" />
      <span asp-validation-for="Adress"></span>
    </div>
    <div>
      <label asp-for="PhoneNumber"></label><br />
      <input asp-for="PhoneNumber" />
      <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
      <label asp-for="Email"></label><br />
      <input asp-for="Email" />
      <span asp-validation-for="Email"></span>
    </div>
    <div>
      <label asp-for="Password"></label><br />
      <input asp-for="Password" />
      <span asp-validation-for="Password"></span>
    </div>
    <div>
      <label asp-for="PasswordConfirm"></label><br />
      <input asp-for="PasswordConfirm" />
      <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div class="div-btn">
      <input class="btn" type="submit" value=@Localizer["Register"] />
    </div>
  </form>
</div>

