﻿@using Trukhan.TicketReSailing.Business.Models
@using Trukhan.TicketReSailing.Business.Interfaces
@using Microsoft.AspNetCore.Mvc.Localization

@model List<Ticket>

@inject IViewLocalizer Localizer
@inject IOrdersRepository orderRepository

@{
    ViewData["Title"] = @Localizer["MyTickets"];
}



<h2>@Localizer["Seller Name:"] @Localizer[Model[0].Seller.FirstName]</h2>

@foreach (Ticket m in Model)
{
    <table style="width:100%">
        <tr>
            <td colspan="2">
                <h1>@Localizer[@m.Event.Name]</h1>
            </td>
        </tr>
        <tr>
            <td>
                @Localizer["Date Event:"]
            </td>
            <td colspan="2" align="left">
                <p>@Localizer[@m.Event.Date.ToString()]</p>
            </td>
        </tr>
        <tr>
            <td>
                @Localizer["Price:"]
            </td>
            <td>
                <p>@m.Price</p>
            </td>
        </tr> 
		<tr>
            <td>
                @Localizer["Status:"]
            </td>
            <td>
                <p>@Localizer[@m.Status]</p>
            </td>
        </tr>       
    </table>
        @if (@m.Status == StatusTicket.Waiting_Confirmation)
		{
			<div>
				@Localizer["Buyer"]:
				@orderRepository.GetAll().FirstOrDefault(o => o.Ticket.Id == @m.Id).Buyer.UserName
			</div>

			<form class="form-reject" method="post" asp-controller="Ticket" asp-action="Reject" asp-route-ticketId="@m.Id">
				<div>
					<input type="button" id="1" class="btn btn-delete btn-reject" asp-route-messageReject="" onclick="SetMessage()" value="Reject"]>
                    <input type="hidden" class="message-reject" name="messageReject">
        		</div>
			</form>
						          
			<form method="post" asp-controller="Ticket" asp-action="Confirm" asp-route-ticketId="@m.Id">
				<div style="float:right">
                  <input type="submit" class="btn" value="Confirm"/>
				</div>
			</form>
		}
        <div style="float:none"></div>
		<script>
			function SetMessage(){
				var result = prompt('Enter your message about reject', 'Reject');
				if (result != null)
				{
				    var form = document.getElementsByClassName('form-reject')[0];
				    var msg = document.getElementsByClassName('message-reject')[0];
				    msg.value = result;
				    form.submit();
				}
			}
		</script>
}
