﻿@using Trukhan.TicketReSailing.Business.Interfaces
@using Trukhan.TicketReSailing.Business.Models
@using Microsoft.AspNetCore.Mvc.Localization

@model List<Ticket>

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Tickets"];
}

@if (@Model.Count == 0)
{
    <h1>@Localizer["no tickets on sale"]</h1>
    <a asp-controller="Home" asp-action="Index">@Localizer["come back"]</a>
}
else
{
    <h1>@Localizer[@Model[0].Event.Name]</h1>

    @foreach (var m in Model)
    {
            <table style="width:100%">
                <tr>
                    <td>
                        @Localizer["Date Event:"]
                    </td>
                    <td colspan="2" align="left">
                        <p>@Localizer[@m.Event.Date.ToString("d")]</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Localizer["Price:"]
                    </td>
                    <td>
                        <p>@m.Price</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Localizer["Seller Name:"]
                    </td>
                    <td>
                        <p>@Localizer[@m.Seller.UserName]</p>
                    </td>
                </tr>
            </table>
            @if (User.Identity.IsAuthenticated)
            {
			    <div style="float:right">
				    <form asp-action="ToOrder" asp-controller="Ticket" asp-anti-forgery="true" asp-route-evId="@m.Event.Id">
					    <input type="hidden" name="ticketId" value="@m.Id" />
					    <button type="submit" class="btn" onclick="return confirm('Заказать билет?')">@Localizer["To order"]</button>
				    </form>
			    </div>
            }
            <div style="float:none"></div>
    }
}

