﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer   

<div>
      <div>
        <div class="user-name">
          <h3>@ViewBag.UserName</h3>
        </div>
        <div class="role-name">
          <h4>@ViewBag.RoleName</h4>
        </div>
     </div>
      <div class="reset-float"></div>
      <div class="button-logout">
        <form asp-controller="Account" asp-action="Logout">
          <input type="submit" value=@Localizer["Logout"]>
        </form>
      </div>
      @{
          if (User.IsInRole("admin"))
          {
            <div class="group-links">
              <a class="like-button" asp-controller="AdminUser" asp-action="ViewUsers">@Localizer["Administration Accounts"]</a>
			  <a class="like-button" asp-controller="Admin" asp-action="Index" asp-route-id="1">@Localizer["Administration records Cities"]</a>
              <a class="like-button" asp-controller="Admin" asp-action="Index" asp-route-id="2">@Localizer["Administration records Venues"]</a>
              <a class="like-button" asp-controller="Admin" asp-action="Index" asp-route-id="3">@Localizer["Administration records Events"]</a>
            </div>
          }
       }
          <div class="group-button">
            <form>
             <button formaction="~/Order/GetMyOrders">@Localizer["My Orders"]</button>
             <button formaction="~/Ticket/GetMyTickets">@Localizer["My Tickets"]</button>
              <button formaction="~/User/GetUserInfo">@Localizer["User Info"]</button>
            </form>
          </div>
</div>
