﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Localizer["TicketsReSailing"] - @ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/StyleSheet.css" />
    </environment>
</head>

<body>
  <header>
    <div class="div-home-return">
        <a asp-controller ="Home" asp-action="Index"><img class="img-home" src="Pictures/home.jpg"/></a>
    </div>
    <div class="div-select-language">
      @await Html.PartialAsync("_SelectLanguagePartial")
    </div>
    @{ 
        if (User.Identity.IsAuthenticated)
        {
            ViewBag.NamePartial = "_Authorized";

            ViewBag.UserName = User.Identity.Name;

            if (User.IsInRole("admin"))
            {
                ViewBag.RoleName = "Admin";
            }
            if (User.IsInRole("user"))
            {
                ViewBag.RoleName = "User";
            }
        }
        else
        {
            ViewBag.NamePartial = "_LoginOrRegister";
        }
    }
    <div class="reset-float"></div>
    
    @Html.Partial((string)@ViewBag.NamePartial)    
    
    <div class="reset-float"></div>
    <div>
        <p class="p-name-page">@ViewBag.NamePage</p>
    </div>
  </header>
    <hr />
  <div class="body-content">
      @RenderBody()
      <hr />
    <footer>
      <div style="float:left">
       <p>&copy; 2016 - @Localizer["Andrei Trukhan"]</p>
      </div>
    </footer>
  </div>
</body>
</html>
