﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div>
    <form method="get">
        <input type="hidden" name="returnUrl" value="@Context.Request.Path"/>
        <input type="submit" formaction="~/Account/Login" value=@Localizer["Login"]/>
        <button formaction="~/Account/Register">@Localizer["Register"]</button>
    </form>   
</div>


