﻿@using Trukhan.TicketReSailing.Business.Interfaces
@using Trukhan.TicketReSailing.Business.Models
@using Microsoft.AspNetCore.Mvc.Localization

@model IEventRepository

@inject IViewLocalizer Localizer

@{ 
    ViewData["Title"] = Localizer["Events"];
}

<div class="body-content-city">
 @if (Model.GetAll() != null)
 {
     @if (User.IsInRole("admin"))
     {
        <hr />
            <br>
            <a class="btn btn-create" asp-controller="Admin" asp-action="Create" asp-route-idEntity="3">@Localizer["Create"]</a>
            <div class="reset-float"></div>
     }
     @foreach (var obj in Model.GetAll())
     {
        <div class="list-out">
            <div class="banner"><img src="~/Pictures/@obj.Banner" height="200" width="200"></div>
			<div>	
				<div>@Localizer[@obj.Name]</div>
				<div>@Localizer[@obj.Date.ToString("d")]</div>
				<div>
					<div class="venue-in-view-events">@Localizer[@obj.Venue.Name]</div>
					<div class="venue-in-view-events div-middle">@Localizer[@obj.Venue.City.Name]</div>
					<div class="venue-in-view-events">@Localizer[@obj.Venue.Address]</div>
				</div>
			</div>
            <div class="reset-float"></div>
			<div>@Localizer[@obj.Description]</div>

            @if (User.IsInRole("admin"))
            {
            <div class="buttons-of-editing">
                <div class="btn"><a asp-controller="Admin" asp-action="Update" asp-route-idEntity="3" asp-route-Id="@obj.Id">@Localizer["Update"]</a></div>
                <div class="btn btn-delete"><a asp-controller="Admin" asp-action="Delete" asp-route-idEntity="3" asp-route-Id="@obj.Id">@Localizer["Delete"]</a></div>
            </div>
            }
        </div>
        <div class="reset-float"></div>
     }
 }
 else
 {
    <h3>DataBase is empty!</h3>
 }
</div>