﻿@using Trukhan.TicketReSailing.Business.Interfaces
@using Trukhan.TicketReSailing.Business.Models
@using Microsoft.AspNetCore.Mvc.Localization

@model ICityRepository

@inject IViewLocalizer Localizer

@{ 
    ViewData["Title"] = Localizer["Cities"];
}

<div class="body-content-city">
 @if (Model.GetAll() != null)
 {
     @if (User.IsInRole("admin"))
     {
        <hr />
            <br>
            <a class="btn btn-create" asp-controller="Admin" asp-action="Create" asp-route-idEntity="1">@Localizer["Create"]</a>
            <div class="reset-float"></div>
     }
     @foreach (City c in Model.GetAll())
     {
        <div class="list-out">
            <div class="prm-entity">@Localizer[@c.Name]</div>
            @if (User.IsInRole("admin"))
            {
            <div class="buttons-of-editing">
                <div class="btn"><a asp-controller="Admin" asp-action="Update" asp-route-idEntity="1" asp-route-Id="@c.Id">@Localizer["Update"]</a></div>
                <div class="btn btn-delete"><a asp-controller="Admin" asp-action="Delete" asp-route-idEntity="1" asp-route-Id="@c.Id">@Localizer["Delete"]</a></div>
            </div>
            }
        </div>
        <div class="reset-float"></div>
     }
 }
 else
 {
    <h3>DataBase is empty!</h3>
 }
</div>